<ion-view view-title="Form">
  <ion-content class="padding">
  <form ng-submit="submit()">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Departing Airport" ng-model="airport">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Maximum Price" ng-model="price">
      </label>
      <label class="item item-input">
        <input type="date" placeholder="Depart" ng-model="startDate">
      </label>
      <label class="item item-input">
        <input type="date" placeholder="Return" ng-model="endDate">
      </label>
    </div>
    <div class="padding">
      <button class="button button-full button-positive">
        Submit      
      </button>
      {{test}}
    </div>
  </form>
  </ion-content>
</ion-view>
